*{
    margin: 0;
    box-sizing: border-box;
}
#page-img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: #ebc248 0.25vh solid;
}

body {
    background: #101112;
    color: white;
    font-family: "Mina", serif;
}
/* main content */
main{
    width: 78%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* new row */
#section {
    padding-top: 2vh;
    margin: 1vh 3vw;
    color: #ebc248;
    font-size: calc(2px + 1vw);
}
/* main content end */

#page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

header{
    background: #101112;
    color: #ebc248;
    margin-top: 0.7vh;
    margin-bottom: 1.5vh;
}
#left-content {
    width : 23%;
    height: 100vh;
    border-right: 0.4vw solid #343538;
    /* box-shadow: 4px 0px 4px #161719; */
    display: flex;
    flex-direction: column;
}
nav {
}

#left-nav {
    height: 5vh;
    padding-top: 1.3vh;
    padding-left: 1.3vw;
    font-size: calc(3px + 1vw);
    background: #343538;
    color: #6fb0f2;
}

#left-urls {
    height: 5vh;
    padding-top: 1.3vh;
    padding-left: 1.3vw;
    font-size: calc(3px + 1vw);
    background: #343538;
    color: #6fb0f2;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    padding-top: 4vh;
}


.s-icon {
    height: 40px;
    width: 40px;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{ /* list items */
    display: flex; /* applied to anchor tag inside - make it occupy the entire box */
    width: 100%;
    height: 7vh;
    background-color:#232426;
    margin: 0;
}

nav li a { /* text */
    height: 100%;
    width : 100%;
    text-align: left;
    align-content: center;
    text-decoration: none;
    font-size: calc(3px + 0.9vw);
    padding-left: 1.8vw;
    color: white;
}

nav li:hover{
    background: #1b1c1d;
}
nav a:hover{
    color: #e87a89;
    padding-left: 1.8vw;
}

#container {
    background: #232426;
    border: 0.3vw solid #343538;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#current-page-header {
    display: flex;  /* to be able to add more labels if needed */
    align-items: flex-end;
    height: 5vh;
    width: 100%;
    background: #343538;
}
#cph-text-container { /* deprecated */
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 12%;
    height: 70%;
    background: #232426;
    font-size: calc(3px + 1vw);
    margin-top: 1.5vh;
}
#cph-text {
    margin-left: 1vw;
    margin-bottom: 0.2vh;
    color: #ebb9ef;
}

/* containers used for header labels (navigation, home, etc) */
.label-containers {
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 17%;
    height: 90%;
    background: #232426;
    font-size: calc(3px + 1vw);
}

.small-label-containers { /* label containers but for small sections */
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 80%;
    height: 90%;
    background: #232426;
    font-size: calc(3px + 1vw);
}
#socials {
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 60%;
    height: 90%;
    background: #232426;
    font-size: calc(3px + 1vw);
    margin-top: 1.5vh;}

.label-text {
    margin-left: 1vw;
    margin-bottom: 0.2vh;
    color: #6fb0f2;
}

.small-section-header { /* similar to current page header but smaller */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 5vh;
    width: 100%;
    background: #343538;
}

/*
*
*/
/* for projects.html */

#project-1 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:  1vh solid #343538;
}

#proj1-title {
    display: flex;
    align-items: center;
    padding-left: 1.8vw;
    height: 7vh;
    border-bottom: 0.4vh dashed #343538;
    font-size: calc(3px + 0.9vw);

}

#calculator {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    padding-top: 5vh;
    font-family: "Orbitron", serif;
}

#result-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border: #ebc248 0.3vh solid;
    height: 7vh;
    overflow: hidden;

}
#result {
    width: fit-content;
    font-size: calc(3px + 2vw);
    padding-right: 0.2vw;
    color: #ebc248;

}

#user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    border-top: 2vh #ebc248;
    font-family: "Orbitron", serif;
}

#operator {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#first,#second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first label, #second label {
    height: 35%;
    width: 100%;
    background: #ebc248;
    align-content: center;
    text-align: center;
    color: #101112;
    font-size: calc(3px + 1vw);
    font-weight: bold;
}
#first-input, #second-input {
    flex: 1;
    width: 100%;
    background: #1d1f21;
    color: #ebc248;
    font-size: calc(3px + 2vw);
    text-align: center;
}

.button {
    flex: 1;
    background: #232426;
    font-weight: bold;
    font-size: calc(3px + 1vw);
    color: white;
}
/*
*/
/*  For small screens */

@media screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
    header{
        align-items: center;
    }

    #container{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
    /* NAVIGATION start*/
    #left-content {
        border-top:  1vh solid #343538;
        width: 100%;
        height: 6.3vh; /* this changes the size of the navigation menu and everything inside it */
        flex-direction: row; /* change alignment */
        justify-content: space-between;
    }
    /* add vh to page header*/

    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    nav ul{
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        width: 100%;
    }

    nav li{
        font-size: calc(2px + 1.5vw);
        background: #232426;
        flex: 1;
        height: 100%;

    }
    nav li a {
        height: 100%;
        width : 100%;
        text-align: center;
        text-decoration: none;
        font-size: calc(3px + 0.9vw);
        padding-left: unset;
        color: white;

    }
    nav li a:hover{
        padding-left: unset;
    }
    /* NAVIGATION end*/

    #social-list {
        width: 20%;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: unset;
        border-left: 1vw solid #343538;
    }
    #social-list li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .s-icon {
        height: 30px;
        width: 30px;
    }

    .label-text {
        margin-left: 0vw;
        margin-bottom: 0vh;
        color: #6fb0f2;
    }

    .small-label-containers, .small-section-header{
        display:none;
    }

    #current-page-header {
        height: 4vh;
    }

}