*{
    margin: 0;
    box-sizing: border-box;
}
#page-img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: #ebc248 0.25vh solid;
}

body {
    background: #101112;
    color: white;
    font-family: monospace;
}
main{
    width: 100%;
    height: 100vh;
}

#page-wrapper {
    width: 80vw;
    margin: 0 auto;
}

header{
    background: #101112;
    color: #ebc248;
    margin-top: 0.7vh;
    margin-bottom: 1.5vh;
}
#left-content {
    width : 20%;
    height: 100vh;
    border-right: 0.4vw solid #343538;
    /* box-shadow: 4px 0px 4px #161719; */
    display: flex;
    flex-direction: column;
}
nav {
}

#left-nav {
    height: 5vh;
    padding-top: 1.3vh;
    padding-left: 1.3vw;
    font-size: calc(3px + 1vw);
    background: #343538;
    color: #6fb0f2;
}

#left-urls {
    height: 5vh;
    padding-top: 1.3vh;
    padding-left: 1.3vw;
    font-size: calc(3px + 1vw);
    background: #343538;
    color: #6fb0f2;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

nav li{ /* list items */
    display: flex;
    width: 100%;
    height: 7vh;
    background-color:#232426;
    margin: 0;
}

nav li a {
    height: 100%;
    width : 100%;
    text-align: left;
    text-decoration: none;
    font-size: calc(3px + 0.9vw);
    padding-top: 2.3vh;
    padding-left: 1.8vw;
    color: white;
}

nav li:hover{
    background: #1b1c1d;
}
nav a:hover{
    color: #e87a89;
    padding-left: 1.8vw;
}

#container {
    background: #232426;
    border: 0.3vw solid #343538;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

#current-page-header {
    display: flex;  /* to be able to add more labels if needed */
    height: 5vh;
    width: 100%;
    background: #343538;
}
#cph-text-container { /* deprecated */
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 12%;
    height: 70%;
    background: #232426;
    font-size: calc(3px + 1vw);
    margin-top: 1.5vh;
}
#cph-text {
    margin-left: 1vw;
    margin-bottom: 0.2vh;
    color: #ebb9ef;
}

/* containers used for header labels (navigation, home, etc) */
.label-containers {
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 12%;
    height: 70%;
    background: #232426;
    font-size: calc(3px + 1vw);
    margin-top: 1.5vh;
}

.small-label-containers { /* label containers but for small sections */
    display: flex; /* to move the text using flexbox */
    flex-direction: row;
    align-items: flex-end; /* move to bottom */
    width: 80%;
    height: 70%;
    background: #232426;
    font-size: calc(3px + 1vw);
    margin-top: 1.5vh;
}

.label-text {
    margin-left: 1vw;
    margin-bottom: 0.2vh;
    color: #6fb0f2;
}

.small-section-header { /* similar to current page header but smaller */
    display: flex;
    height: 5vh;
    width: 100%;
    background: #343538;
}

#test {
    background: #ebc248;
}